.navbar
    display: flex
    justify-content: space-between
    align-items: center
    width: 100vw
    height: 60px
    //background-image: linear-gradient(to right, #fff 80px, #9d0b0f 250px)
    background-color: #9d0b0f
    position: fixed
    color: #fff
    transition: transform 0.4s ease-in-out
    z-index: 1301
    padding-right: 24px
    &.hide
        transform: translateY(-60px)

.link-container
    display: flex

.link
    text-transform: uppercase
    margin-right: 24px
    &:hover
        cursor: pointer

.link:last-of-type
    margin-right: 0

.logo-container
    width: 200px
    height: 60px
    margin-top: 8px
    position: relative
    font-size: 1.2rem
    color: #0e2431
    font-family: 'Garamond', serif

.logo-capital
    position: absolute
    top: 0
    left: 20px
    font-size: 22px
    color: #fff


.logo-chimney
    position: absolute
    top: 24px
    left: 54px
    font-size: 22px
    color: #fff


.logo-img
    height: 20px
    width: 20px
    position: absolute
    top: 28px
    left: 28px

.menu-button
    position: absolute
    right: 12px

li
    list-style: none

.drawer-link-container
    margin-top: 60px
    background-color: #f5f5f5
    text-transform: uppercase

.drawer-link:hover
    font-weight: bolder

.phone-container
    margin-right: 12px
    width: 150px
    display: flex
    justify-content: space-between

.phone
    text-decoration: none
    color: #fff

@media screen and (min-width: 900px)
    .menu-button
        display: none !important

@media screen and (max-width: 900px)
    .link-container
        display: none
    .phone-container
        position: absolute
        left: 50%
        left: 50%
        transform: translateX(-20%)